# Exercicio 01

Matheus Bitarães de Novaes

Este exercício abordará o treinamento do perceptron simples aplicado ao problema do
Câncer de mama (Breast Cancer). Esta base de dados pode ser encontrada no site do
Machine Learning Repository da UCI. Ela se chama Breast Cancer Wisconsin (Original).
Esta base de dados possui 9 variáveis de entrada, uma variável de saida com a
classificação das 699 amostras em malígno e benígno.
Nesta atividade o aluno irá realizar o treinamento do perceptron para separar as classes
e avaliar o desempenho do mesmo.

##### 1) Carregar os dados e armazená-los. Estes dados devem receber um tratamento inicial para eliminação dos dados faltantes. Os dados faltantes são representados pelo string NA.

In [19]:
import pandas as pd

# leitura dos dados
df=pd.read_csv('breast-cancer-wisconsin.data', header=0, names=["id","f1","f2","f3","f4","f5","f6","f7","f8","f9", "class"])

# limpeza dos dados, removendo colunas que não possuírem os dados completos
df = df.dropna(thresh=1)

# plot dos primeiros dados
df.head()

        id  f1  f2  f3  f4  f5  f6  f7  f8  f9  class
0  1002945   5   4   4   5   7  10   3   2   1      2
1  1015425   3   1   1   1   2   2   3   1   1      2
2  1016277   6   8   8   1   3   4   3   7   1      2
3  1017023   4   1   1   3   2   1   3   1   1      2
4  1017122   8  10  10   8   7  10   9   7   1      4

##### 2) Rotular as amostras das Classes com o valor de 0 (malígno) e 1 (benígno).

Os dados ja possuem uma classificação inicial, onde 2 = benigno e 4 = maligno. Portanto, basta realizar a substituição destes números

In [25]:
# Realizando a troca de valores do resultado
df.loc[df['class'] == 2, 'class'] = 1
df.loc[df['class'] == 4, 'class'] = 0
df.head()

        id  f1  f2  f3  f4  f5  f6  f7  f8  f9  class
0  1002945   5   4   4   5   7  10   3   2   1      1
1  1015425   3   1   1   1   2   2   3   1   1      1
2  1016277   6   8   8   1   3   4   3   7   1      1
3  1017023   4   1   1   3   2   1   3   1   1      1
4  1017122   8  10  10   8   7  10   9   7   1      0

##### 3) Selecionar aleatoriamente 70% da amostras para o conjunto de treinamento e 30% para o conjunto de teste, para cada uma das duas classes.

In [43]:
#dados de treinamento
df_train=df.sample(frac=0.7) #random state is a seed value
df_train['id'].count()

489

In [42]:
#dados de teste
df_test=df.drop(df_train.index)
df_test['id'].count()

209

##### 4) Utilizar as amostras de treinamento para fazer o treinamento do perceptron.

##### 5) Uma vez treinado o modelo, utilizá-lo para classificar as amostras do conjunto de teste.

##### 6) Calcular a acurácia

##### 7) Repita o experimento para 20 conjuntos diferentes de treinamento e teste e calcule a acurácia média e seu desvio padrão.